
/****Styling*****/
body{
  background-image: url('../img/scroll.png');
  background-size: 100%;
  margin: auto;
}

.image{
  width: 100%;
  margin-bottom: 40px;
  display: inline-block;
}

.chapterHeader{
  font-size: 30px;
  text-align: center;
}

.chapterStructure{
  margin:auto;
  margin-top: 25%;
  font-family: 'Macondo', cursive;
  font-size: 20px;
}

#chapterOne{
  width: 55%;
}

button{
  margin-left: 30%;
}

/****Hide*****/
#riddleOne, #riddleOneSuccess, #riddleOneFail, #riddleTwoSuccess, #riddleTwoFail, #riddleTwo, #riddleThreeSuccess, #riddleThreeFail, #riddleThree, #riddleFour, #riddleFourSuccess, #riddleFourFail  {
  display: none;
}

#no-line {
  text-decoration: none;
  color: black;
}
